<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    {% if button_id == "SSTAXGSLYDR3L" %}
        <!-- Google Analytics Content Experiment code -->
        <script>function utmx_section(){}function utmx(){}(function(){var
                    k='63299567-1',d=document,l=d.location,c=d.cookie;
                if(l.search.indexOf('utm_expid='+k)>0)return;
                function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
                        indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
                        length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
                        '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
                                '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
                                '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
                                valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
                                '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
        </script><script>utmx('url','A/B');</script>
        <!-- End of Google Analytics Content Experiment code -->


    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ 'leboncoin.meta.title'|trans }}</title>
    <meta name="description" content="{{ 'leboncoin.meta.description'|trans }}{# Recevez les annonces leboncoin de votre choix directement dans votre boite mail, dès leur publication #}">
    <meta name="author" content="Jonathan Foucher">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/flat-ui.css">
    <!-- Facebook Open Graph -->
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://lebonmail.com"/>
    <meta property="og:image" content="http://lebonmail.com/assets/images/login/icon.png"/>
    <meta property="og:description"
          content="{{ 'leboncoin.meta.description'|trans }}{# Recevez les annonces leboncoin de votre choix directement dans votre boite mail, dès leur publication #}"/>

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript">
        window.google_analytics_uacct = "UA-8465441-23";
    </script>
</head>
<body>

<header>
    <div class="container-fluid">

        <div class="demo-headline">
            <h1 class="demo-logo">
                <a href="/">
                    {{ 'leboncoin.home.title'|trans }} <sup>beta</sup>

                </a>
                <small>{{ 'leboncoin.home.subtitle'|trans|raw }}</small>
            </h1>
        </div>

        <p class="description">
            {{ 'leboncoin.home.description'|trans }}{# Recevez un email dès qu'une annonce correspondant à vos critères est publiée sur
            leboncoin.fr #}
        </p>


    </div>
</header>

<div id="container" class="container-fluid">

